body {
    background: #337ff1;
    background: -webkit-linear-gradient(right, aquamarine, #1c5eb6);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}